<h3 class="user-location">{{vm.address}}</h3>

<div>

  <ul class="forecast-list">

      <li class="forecast-list__list-item col-md-1"
          ng-repeat="day in vm.hourlyForecast.data | limitTo: 8 track by $index">
        <div>
          {{day.time | convertHourlyTime}}<br />
          <i class="{{day.icon | convertIconEmoji}}"></i><br />
          {{vm.Math.round(day.temperature)}}<br />
        </div>
      </li>

  </ul>

  <ul class="forecast-list">

      <li class="forecast-list__list-item col-md-1"
          ng-repeat="day in vm.dailyForecast.data | limitTo: 5 track by $index"
          ng-mouseover="showSummary = true" ng-mouseleave="showSummary = false">
        {{day.time | convertDailyTime}}<br />
        <i class="{{day.icon | convertIconEmoji}}"></i><br />
        {{vm.Math.floor(day.temperatureMax)}} / {{vm.Math.floor(day.temperatureMin)}}

        <div ng-show="showSummary">
          {{day.summary}}<br />
        </div>

      </li>

  </ul>

</div>