.user-location { 
  margin-top: 20px;
  text-align: center;
}

.forecast-list {

  display: flex;
  justify-content: center;

  padding: 0;
  margin: 30px 0;
  list-style: none;

  &__list-item {
    display: inline-block;
  }

}